:root {
    --backgroung-color: rgba(211, 211, 211, 0.591);
    --header-color: grey;
    --quiz-color: lightgreen;
}


header {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 15px;
}

main {
    background-color: var(--backgroung-color);
    margin: 0 200px;
    font-size: 18px;
    line-height: 1.5;
}

#quiz-area {
    background-color: var(--quiz-color);
    border-radius: 5px;
    padding: 30px 0;
}

#start {
    font-size: 22px;
    padding: 8px 60px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.answer {
    margin-bottom: 25px;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.question {
    text-align: center;
}

#submit {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 5px;
    position: relative;
    left: 35%;
}

#name {
    font-size: 28px;
    border-radius: 5px;
    position: relative;
    left: 35%;
    top: 3px;
    margin-right: 5px;
}

