:root {
    --main-text-color: #37AE0E;
    --backgroun-color: #E6F5E1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroun-color);
    padding-bottom: 0.9rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

#highscore {
    margin: 0.5rem 0.5rem 0 0;
    text-decoration: none;
}

#time {
    font-size: 1.5rem;
    color: var(--main-text-color);
    margin: 1.1rem 0 0 0.5rem;
}

#start {
    font-size: 3rem;;
}

.btn {
    font-size: 1.5rem;
    padding: 0.6rem;
    color: var(--main-text-color);
    border: 0.1rem solid var(--main-text-color);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px var(--main-text-color);

}

.answer {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: 1.2rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
    padding: 0.6rem;
    box-shadow: 1px 2px 2px 2px var(--main-text-color);
    background-color: white;;
}

.answer:hover {
    background-color: var(--backgroun-color);
}

.question {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

#question-p {
    font-size: 2rem;
    color: #69C24A;
}

#submit-points {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#submit-paragraph {
    font-size: 1.5rem;
}

#name {
    font-size: 2rem;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    border: 0.1rem solid var(--main-text-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: #69C24A;
    font-size: 1.3rem;
}
